280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;13;AppControllerK;12;CPBundleNameS;9;BunnyLabsK;16;CPPrincipalClassS;13;CPApplicationK;14;SCAuthLoginURLS;30;http://localhost:9292/session/K;21;SCAuthRegistrationURLS;27;http://localhost:9292/user/K;18;SCAuthUserCheckURLS;27;http://localhost:9292/user/K;13;SCAuthSyncURLS;30;http://localhost:9292/session/K;15;SCAuthLogoutURLS;30;http://localhost:9292/session/K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;25;com.yourcompany.BunnyLabsK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;12;BunnyLabs.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;K;17;CPApplicationSizeD;K;10;executabled;7;3711574K;4;datad;6;455078K;5;mhtmld;6;576514E;E;